.main {
    background-image: url("../assets/Screen\ Shot\ 2023-05-12\ at\ 1.40.45\ AM.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fafafa;
    min-height: 100vh;
}